Repository TheCanoePirates/TCPStation, pull requests merged in 2020-10, with the labels that each got.

#9 Omega Station Map Updates & Roundend Sound additions
  _maps/map_files/OmegaStation/OmegaStation.dmm
  code/controllers/subsystem/ticker.dm
  sound/roundend/gameover.ogg
  sound/roundend/heresy.ogg
  sound/roundend/hippiedisappointed.ogg
  sound/roundend/leavingtg.ogg
  sound/roundend/petersondisappointed.ogg
Labels: Map Edit, Removal, Sound, Tweak, balance/rebalance

#5 Converted Detective Office into HoS Office.
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/OmegaStation/job_changes.dm
Labels: Map Edit

#42 OmegaStation Cargo/Tcomms Updates
  _maps/map_files/OmegaStation/OmegaStation.dmm
Labels: Feature, Fix, Map Edit, Tweak, balance/rebalance

#44 Omega Station: Engineering + Atmos Remodel
  _maps/map_files/OmegaStation/OmegaStation.dmm
  _maps/map_files/OmegaStation/job_changes.dm
  config/admins.txt
Labels: Atmos, DO NOT MERGE, Map Edit, Removal, Work In Progress, config update

#49 OmegaStation: Fixes Supermatter power setup
  _maps/map_files/OmegaStation/OmegaStation.dmm
Labels: Fix, Map Edit

#51 OmegaStation: Adds a light and a pipe
  _maps/map_files/OmegaStation/OmegaStation.dmm
Labels: Fix, Map Edit

#52 OmegaStation: Corrects wiring for SMES room allowing AMPCheck to function properly
  _maps/map_files/OmegaStation/OmegaStation.dmm
Labels: Map Edit
